<section class="section-toolbar container-12">
  <nav class="breadcrumb grid-6"> <a href="{U_INDEX}">{L_INDEX}</a> <strong>{NAV_CAT_DESC}</strong> </nav>
  <!-- BEGIN switch_user_logged_in -->
  <div class="toolbar grid-6">
    <ul>
      <li><a href="{U_SEARCH_NEW}">Mensajes nuevos<!--{L_SEARCH_NEW}--></a></li>
      <li><a href="{U_SEARCH_SELF}">Tus mensajes <!--{L_SEARCH_SELF}--></a></li>
      <li><a href="{U_SEARCH_UNANSWERED}">Temas sin respuesta</a></li>
      <li><a href="{U_MARK_READ}">Marcar todos como leídos<!--{L_MARK_FORUMS_READ}--></a></li>
    </ul>
    <!-- END switch_user_logged_in -->
    <ul>
      <!-- BEGIN switch_user_authpost -->
      <li><a href="{U_POST_NEW_TOPIC}" accesskey="n" rel="nofollow" class="button">{L_POST_NEW_TOPIC}</a></li>
      <!-- END switch_user_authpost --> 
      
      <!-- BEGIN switch_user_authreply -->
      <li><a href="{U_POST_REPLY_TOPIC}" class="big-button">{L_POST_REPLY_TOPIC}</a></li>
      <!-- END switch_user_authreply -->
    </ul>
  </div>
</section>
<section class="section-group">
  <div class="grid-12">
    <form action="{S_GROUPCP_ACTION}" method="post">
      <h1>{L_GROUP_INFORMATION}</h1>
      <fieldset>
        <dl>
          <dt>
            <label>{L_GROUP_NAME}:</label>
          </dt>
          <dd><strong>{GROUP_NAME}</strong></dd>
        </dl>
        <dl>
          <dt>
            <label>{L_GROUP_DESC}:</label>
          </dt>
          <dd>{GROUP_DESC}</dd>
        </dl>
        <dl>
          <dt>
            <label>{L_GROUP_MEMBERSHIP}:</label>
          </dt>
          <dd>{GROUP_DETAILS}&nbsp; 
            <!-- BEGIN switch_subscribe_group_input -->
            <input type="submit" name="joingroup" value="{L_JOIN_GROUP}" />
            <!-- END switch_subscribe_group_input --> 
            <!-- BEGIN switch_unsubscribe_group_input -->
            <input type="submit" name="unsub" value="{L_UNSUBSCRIBE_GROUP}" />
            <!-- END switch_unsubscribe_group_input --> 
          </dd>
        </dl>
      </fieldset>
      <!-- BEGIN switch_mod_option -->
      <fieldset>
        <dl>
          <dt>
            <label>{L_GROUP_TYPE}:</label>
          </dt>
          <dd>
            <ul>
              <li>
                <label>
                  <input type="radio" name="group_type" value="{S_GROUP_OPEN_TYPE}" {S_GROUP_OPEN_CHECKED} {S_GROUP_OPEN_DISABLED} />
                  {L_GROUP_OPEN}</label>
              </li>
              <li>
                <label>
                  <input type="radio" name="group_type" value="{S_GROUP_CLOSED_TYPE}" {S_GROUP_CLOSED_CHECKED} />
                  &nbsp;{L_GROUP_CLOSED}</label>
              </li>
              <li>
                <label>
                  <input type="radio" name="group_type" value="{S_GROUP_HIDDEN_TYPE}" {S_GROUP_HIDDEN_CHECKED} />
                  &nbsp;{L_GROUP_HIDDEN}</label>
              </li>
              <li>
                <input type="submit" name="groupstatus" class="big-button" value="{L_UPDATE}" />
              </li>
            </ul>
            <label> </label>
          </dd>
        </dl>
      </fieldset>
      {S_HIDDEN_FIELDS} 
      <!-- END switch_mod_option -->
    </form>
  </div>
</section>
<section class="section-users-in-group">
  <form action="{S_GROUPCP_ACTION}" method="post" name="post">
    <h2>Moderador del grupo</h2>
    <p><a href="{U_MOD_VIEWPROFILE}">{MOD_USERNAME}</a></p>
    
    <h2>Miembros del grupo</h2>
    <dl>
      <!-- BEGIN member_row -->
      <dt> 
        <!-- BEGIN switch_mod_option -->
        <input type="checkbox" name="members[]" value="{member_row.USER_ID}" />
        <!-- END switch_mod_option --> 
        <a href="{member_row.U_VIEWPROFILE}">{member_row.USERNAME}</a> </dt>
      <dd>
        <ul>
          <li>{member_row.EMAIL_IMG}</li>
          <li>{member_row.WWW_IMG}</li>
        </ul>
      </dd>
      <!-- END member_row -->
    </dl>
    
    <!-- BEGIN switch_no_members -->
    <p>{L_NO_MEMBERS}</p>
    <!-- END switch_no_members --> 
    
    <!-- BEGIN switch_hidden_group -->
    <p>{L_HIDDEN_MEMBERS}</p>
    <!-- END switch_hidden_group -->
    <section class="bottom-buttonset">
      <input type="submit" name="remove" value="{L_REMOVE_SELECTED}" />
    </section>
    <fieldset>
      <h2>Añadir un usuario</h2>
      <dl>
        <dt>Nombre de usuario</dt>
        <dd>
          <input class="inputbox" type="text" id="username" name="username" />
        </dd>
      </dl>
    </fieldset>
    {S_HIDDEN_FIELDS}
    <section class="section-buttonset">
      <ul>
        <li>
          <input type="submit" name="add" class="big-button" value="{L_ADD_MEMBER}" />
        </li>
        <li>
          <input type="button" id="find_user" value="{L_FIND_USERNAME}" />
        </li>
      </ul>
    </section>
  </form>
</section>
<!--




-->