{JAVASCRIPT} 
<!--
  
  Aquí se muestra la barra de herramientas 
    
-->
<section id="breadcrumb_toolbar" class="container-12">
  <div id="breadcrumb" class="grid-6"> <a href="{U_INDEX}">{L_INDEX}</a> <strong>{NAV_CAT_DESC}</strong> </div>
  <div class="toolbar" class="grid-6">
    <ul>
      <li><a href="{U_SEARCH_NEW}">Mensajes nuevos<!--{L_SEARCH_NEW}--></a></li>
      <li><a href="{U_SEARCH_SELF}">Tus mensajes <!--{L_SEARCH_SELF}--></a></li>
      <!--<li><a href="{U_SEARCH_UNANSWERED}">Sin respuesta{L_SEARCH_UNANSWERED}</a></li>-->
      <li><a href="{U_MARK_READ}">Marcar todos como leídos<!--{L_MARK_FORUMS_READ}--></a></li>
    </ul>
  </div>
</section>

<!-- BEGIN message_admin_index -->
<section> 
  <!-- BEGIN message_admin_titre -->
  <h2>{message_admin_index.message_admin_titre.MES_TITRE}</h2>
  <!-- END message_admin_titre --> 
  
  <!-- BEGIN message_admin_txt -->
  <p>{message_admin_index.message_admin_txt.MES_TXT}</p>
  <!-- END message_admin_txt --> 
</section>
<!-- END message_admin_index --> 

<!-- BEGIN switch_user_login_form_header -->
<!-- END switch_user_login_form_header --> 

{CHATBOX_TOP}
{BOARD_INDEX}

<!-- BEGIN disable_viewonline -->
<footer class="container-12">
  
  <div id="statistics" class="grid-12">
    <p>{TOTAL_POSTS}. {TOTAL_USERS} {NEWEST_USER}</p>
    <h2>
      <!-- BEGIN switch_viewonline_link -->
      <a href="{U_VIEWONLINE}" rel="nofollow">{L_WHO_IS_ONLINE}</a>
      <!-- END switch_viewonline_link -->
      
      <!-- BEGIN switch_viewonline_nolink --> 
      {L_WHO_IS_ONLINE}
      <!-- END switch_viewonline_nolink --> 
    </h2>
    <p>{TOTAL_USERS_ONLINE}. {LOGGED_IN_USER_LIST} {L_ONLINE_USERS} {L_CONNECTED_MEMBERS}</p>
    <p>{RECORD_USERS}</p>
    <!--<p>{L_WHOSBIRTHDAY_TODAY} {L_WHOSBIRTHDAY_WEEK}</p>-->
  </div>
</footer>
<!-- END disable_viewonline -->

{AUTO_DST} 

<!-- BEGIN switch_fb_index_login -->
<div id="fb-root"></div>
<script type="text/javascript">
//<![CDATA[
FB.init({
	appId: '{switch_fb_index_login.FACEBOOK_APP_ID}',
 	status: true,
 	cookie: true,
 	xfbml: true,
	oauth: true
});
//]]>
</script> 
<!-- END switch_fb_index_login -->