<section class="container-12"> 
  <!-- BEGIN catrow --> 
  <!-- BEGIN tablehead -->
  {catrow.tablehead.L_FORUM}
  
  <ul class="subforums" id="cat-{catrow.CAT_ID}">
  <!-- END tablehead -->
    <!-- BEGIN forumrow -->
    <li id="subforum-{catrow.forumrow.FORUM_ID}" class="grid-3">
      <h3><a href="{catrow.forumrow.U_VIEWFORUM}" class="forumtitle">{catrow.forumrow.FORUM_NAME}</a></h3>
      <div class="description">
        {catrow.forumrow.FORUM_DESC}
      </div>
      <div class="number-threads"><img src="imgs/icon-threads.png" title="Temas:" /> {catrow.forumrow.TOPICS}</div>
      <div class="number-posts"><img src="imgs/icon-posts.png" title="Mensajes:" /> {catrow.forumrow.POSTS} <img title="{catrow.forumrow.L_FORUM_FOLDER_ALT}" src="{catrow.forumrow.FORUM_FOLDER_IMG}" alt="{catrow.forumrow.L_FORUM_FOLDER_ALT}" /></div>
      <div class="lastest-post"><!-- BEGIN switch_topic_title --> Último tema: <a href="{catrow.forumrow.U_LATEST_TOPIC}" title="{catrow.forumrow.LATEST_TOPIC_TITLE}">{catrow.forumrow.LATEST_TOPIC_NAME}</a><!-- END switch_topic_title --> 
            </div>
    </li>
    <!-- END forumrow -->
  <!-- BEGIN tablefoot -->
    <br class="clearfloat" />
  </ul>
  <!-- END tablefoot -->
  <!-- END catrow --> 
</section>

<!-- BEGIN switch_on_index -->
<div class="main-box clearfix">
  <ul>
    <li><a href="{U_TODAY_ACTIVE}">{L_TODAY_ACTIVE}</a></li>
    <li><a href="{U_TODAY_POSTERS}">{L_TODAY_POSTERS}</a></li>
    <li><a href="{U_OVERALL_POSTERS}">{L_OVERALL_POSTERS}</a></li>
  </ul>
  <!-- BEGIN switch_delete_cookies -->
  <p class="right"> <a href="{switch_on_index.switch_delete_cookies.U_DELETE_COOKIES}">{switch_on_index.switch_delete_cookies.L_DELETE_COOKIES}</a> </p>
  <!-- END switch_delete_cookies --> 
</div>
<!-- END switch_on_index -->