<!-- BEGIN switch_footer_links --> 
  <section class="container-12">
    <div class="grid-12">
      <ul>
        <!-- BEGIN footer_link -->
        <!-- BEGIN switch_separator -->&nbsp;|&nbsp;<!-- END switch_separator -->{switch_footer_links.footer_link.FOOTER_LINK_SEPARATOR}
        <li><a class="copyright" href="{switch_footer_links.footer_link.U_FOOTER_LINK_HREF}" rel="{switch_footer_links.footer_link.FOOTER_LINK_REL}" target="{switch_footer_links.footer_link.FOOTER_LINK_TARGET}" title="{switch_footer_links.footer_link.L_FOOTER_LINK_TITLE}">{switch_footer_links.footer_link.L_FOOTER_LINK_TEXT}</a></li>
      <!-- END footer_link -->
     </ul>
    </div>
  </section>
  <!-- END switch_footer_links --> 
<p class="center"> <strong>{ADMIN_LINK}</strong> </p>
{PROTECT_FOOTER}