<!-- BEGIN topics_list_box -->
<!-- BEGIN row -->
<!-- BEGIN header_table -->
<section class="section-topics-in-forum container-12">
  <h3 class="grid-12">Temas</h3>
  <nav class="pagination">{PAGINATION}</nav>
  <ul class="topics">
<!-- END header_table -->
<!-- BEGIN topic -->
    <li class="topic">
      <div class="topic-title">
        <h4><a class="url-topic" href="{topics_list_box.row.U_VIEW_TOPIC}">
          <div class="icon">
            <img title="{topics_list_box.row.L_TOPIC_FOLDER_ALT}" src="{topics_list_box.row.TOPIC_FOLDER_IMG}" alt="{topics_list_box.row.L_TOPIC_FOLDER_ALT}">{topics_list_box.row.ICON}{topics_list_box.row.PARTICIPATE_POST_IMG}
          </div>
          {topics_list_box.row.TOPIC_TYPE}
        {topics_list_box.row.TOPIC_TITLE}
        </a></h4>
        <div class="text-author">{topics_list_box.row.L_BY} {topics_list_box.row.TOPIC_AUTHOR}</div>
      </div>
      <div class="topic-numbers">
        <div class="number number-replies"><img src="http://i34.servimg.com/u/f34/17/38/25/48/icon-p10.png" alt="Respuestas" title="Respuestas"> {topics_list_box.row.REPLIES}</div>
        <div class="number number-views"><img src="http://i34.servimg.com/u/f34/17/38/25/48/icon-v10.png" alt="Veces visto" title="Veces visto">{topics_list_box.row.VIEWS}</div>
      </div>
      <div class="topic-last-post">
        {topics_list_box.row.LAST_POST_TIME} {topics_list_box.row.L_BY} {topics_list_box.row.LAST_POST_AUTHOR} {topics_list_box.row.LAST_POST_IMG}
      </div>
      <br class="clearfloat">
    </li>
<!-- END topic -->
<!-- BEGIN no_topics -->
    <li>
      <div class="grid-12">No hay ningún tema en este foro. <a href="{U_POST_NEW_TOPIC}" accesskey="n" rel="nofollow">{L_POST_NEW_TOPIC}</a></div>
    </li>
<!-- END no_topics -->
<!-- BEGIN bottom -->
  </ul>
</section>
<!-- END bottom -->

<!-- END row -->
<!-- END topics_list_box -->