<section id="breadcrumb_toolbar" class="container-12">
  <div id="breadcrumb" class="grid-6"> <a href="{U_INDEX}">{L_INDEX}</a> <strong>{NAV_CAT_DESC}</strong> </div>
  <!-- BEGIN switch_user_logged_in -->
  <div class="toolbar grid-6">
    <ul>
      <li><a href="{U_SEARCH_NEW}">Mensajes nuevos<!--{L_SEARCH_NEW}--></a></li>
      <li><a href="{U_SEARCH_SELF}">Tus mensajes <!--{L_SEARCH_SELF}--></a></li>
      <!--<li><a href="{U_SEARCH_UNANSWERED}">Sin respuesta{L_SEARCH_UNANSWERED}</a></li>-->
      <li><a href="{U_MARK_READ}">Marcar todos como leídos<!--{L_MARK_FORUMS_READ}--></a></li>
    </ul>
  </div>
  <!-- END switch_user_logged_in -->
</section>

<section id="pagination_toolbar" class="container-12">
  <div class="pagination grid-6">
    {PAGINATION}&nbsp;
  </div>
  <div class="toolbar grid-6">
    <ul>
      <!-- BEGIN switch_user_authpost -->
      <li><a href="{U_POST_NEW_TOPIC}" accesskey="n" rel="nofollow">{L_POST_NEW_TOPIC}</a></li>
      <!-- END switch_user_authpost -->
      <!-- BEGIN switch_user_authreply -->
      <li><a href="{U_POST_REPLY_TOPIC}">{L_POST_REPLY_TOPIC}"</a></li>
      <!-- END switch_user_authreply -->
    </ul>
  </div>
  <br class="clearfloat" />
</section>

{POLL_DISPLAY}

<section class="container-12">
  <ul class="posts">
    <!-- BEGIN postrow -->
    <!-- BEGIN displayed -->
    <li>
      <aside class="grid-3">
        <h3>{postrow.displayed.POSTER_NAME}</h3>
        <div class="avatar">{postrow.displayed.POSTER_AVATAR}</div>
        <div class="rank">{postrow.displayed.POSTER_RANK_NEW}{postrow.displayed.RANK_IMAGE}</div>
        <div class="online">{postrow.displayed.ONLINE_IMG}</div>
        <dl>
          <!-- BEGIN profile_field -->
          <dt>{postrow.displayed.profile_field.LABEL}</dt>
          <dd>{postrow.displayed.profile_field.CONTENT}</dd>
          <!-- END profile_field -->
        </dl>
        
        <div>{postrow.displayed.POSTER_RPG}</div>
      </aside>
      <article class="grid-9">
        <div class="toolbar">
          <ul>
            <li>{postrow.displayed.THANK_IMG}</li>
            <!--<li>{postrow.displayed.MULTIQUOTE_IMG}</li>-->
            <li>{postrow.displayed.QUOTE_IMG}</li>
            <li>{postrow.displayed.EDIT_IMG}</li>
            <li>{postrow.displayed.DELETE_IMG}</li>
            <li>{postrow.displayed.IP_IMG}</li>
            <li>{postrow.displayed.REPORT_IMG}</li>
          </ul>
        </div>
        <div class="date"><a href="{postrow.displayed.POST_URL}">{postrow.displayed.POST_DATE_NEW}</a></div>
        <div class="message">{postrow.displayed.MESSAGE}</div>
        
      </article>
      <br class="clearfloat" />
    </li>
    <!-- END displayed -->
    <!-- END postrow -->
  </ul>
</section>