<section class="section-toolbar container-12">
  <nav class="breadcrumb grid-6"> <a href="{U_INDEX}">{L_INDEX}</a> <strong>{NAV_CAT_DESC}</strong> </nav>
  <!-- BEGIN switch_user_logged_in -->
  <div class="toolbar grid-6">
    <ul>
      <li><a href="{U_SEARCH_NEW}">Mensajes nuevos<!--{L_SEARCH_NEW}--></a></li>
      <li><a href="{U_SEARCH_SELF}">Tus mensajes <!--{L_SEARCH_SELF}--></a></li>
      <li><a href="{U_SEARCH_UNANSWERED}">Temas sin respuesta</a></li>
      <li><a href="{U_MARK_READ}">Marcar todos como leídos<!--{L_MARK_FORUMS_READ}--></a></li>
    </ul>
    <!-- END switch_user_logged_in -->
    <ul>
      <!-- BEGIN switch_user_authpost -->
      <li><a href="{U_POST_NEW_TOPIC}" accesskey="n" rel="nofollow" class="button">{L_POST_NEW_TOPIC}</a></li>
      <!-- END switch_user_authpost -->
      
      <!-- BEGIN switch_user_authreply -->
      <li><a href="{U_POST_REPLY_TOPIC}" class="big-button">{L_POST_REPLY_TOPIC}</a></li>
      <!-- END switch_user_authreply -->
    </ul>
  </div>
</section>


{POLL_DISPLAY}

<section class="section-posts-in-topic container-12">
  <nav class="pagination grid-6">
    {PAGINATION}
  </nav>
  <ul class="posts">
    <!-- BEGIN postrow -->
    <!-- BEGIN displayed -->
    <li class="post">
      <aside class="grid-3">
        <h3>{postrow.displayed.POSTER_NAME}</h3>
        <div class="avatar">{postrow.displayed.POSTER_AVATAR}</div>
        <div class="rank">{postrow.displayed.POSTER_RANK_NEW}{postrow.displayed.RANK_IMAGE}</div>
        <div class="online">{postrow.displayed.ONLINE_IMG}</div>
        <dl>
          <!-- BEGIN profile_field -->
          <dt>{postrow.displayed.profile_field.LABEL}</dt>
          <dd>{postrow.displayed.profile_field.CONTENT}</dd>
          <br class="clearfloat" />
          <!-- END profile_field -->
          
        </dl>
        
        <div>{postrow.displayed.POSTER_RPG}</div>
      </aside>
      <div class="post-tools">
        <ul>
          <li>{postrow.displayed.THANK_IMG}</li>
          <!--<li>{postrow.displayed.MULTIQUOTE_IMG}</li>-->
          <li>{postrow.displayed.QUOTE_IMG}</li>
          <li>{postrow.displayed.EDIT_IMG}</li>
          <li>{postrow.displayed.DELETE_IMG}</li>
          <li>{postrow.displayed.IP_IMG}</li>
          <li>{postrow.displayed.REPORT_IMG}</li>
        </ul>
      </div>
      <article class="grid-9">
        <div class="message">{postrow.displayed.MESSAGE}</div>
        <div class="date">{postrow.displayed.POSTER_NAME}, <a href="{postrow.displayed.POST_URL}" class="url-post">{postrow.displayed.POST_DATE_NEW}</a></div>
      </article>
      <br class="clearfloat" />
    </li>
    <!-- END displayed -->
    <!-- END postrow -->
  </ul>
</section>