<section id="breadcrumb_toolbar" class="container-12">
  <div id="breadcrumb" class="grid-6"> <a href="{U_INDEX}">{L_INDEX}</a> <strong>{NAV_CAT_DESC}</strong> </div>
  <!-- BEGIN switch_user_logged_in -->
  <div class="toolbar grid-6">
    <ul>
      <li><a href="{U_SEARCH_NEW}">Mensajes nuevos<!--{L_SEARCH_NEW}--></a></li>
      <li><a href="{U_SEARCH_SELF}">Tus mensajes <!--{L_SEARCH_SELF}--></a></li>
      <!--<li><a href="{U_SEARCH_UNANSWERED}">Sin respuesta{L_SEARCH_UNANSWERED}</a></li>-->
      <li><a href="{U_MARK_READ}">Marcar todos como leídos<!--{L_MARK_FORUMS_READ}--></a></li>
    </ul>
  </div>
  <!-- END switch_user_logged_in -->
</section>

{BOARD_INDEX}

<hr class="container-12" />
<section id="pagination_toolbar" class="container-12">
  <div class="pagination grid-6">
    {PAGINATION}&nbsp;
  </div>
  <div class="toolbar grid-6">
    <!-- BEGIN switch_user_authpost -->
    <ul>
      <li><a href="{U_POST_NEW_TOPIC}" accesskey="n" rel="nofollow">{L_POST_NEW_TOPIC}</a></li>
    </ul>
    <!-- END switch_user_authpost -->
  </div>
  <br class="clearfloat" />
</section>

{TOPICS_LIST_BOX}