<!-- BEGIN switch_user_logged_in -->

<div id="pun-visit" class="clearfix">
  <ul>
    <li><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a></li>
    <li><a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a></li>
  </ul>
  <p>{LOGGED_AS}. {LAST_VISIT_DATE}</p>
</div>
<!-- END switch_user_logged_in --> 
<!-- BEGIN switch_user_logged_out -->
<div id="pun-visit">
  <p>{L_NOT_CONNECTED} {L_LOGIN_REGISTER}</p>
</div>
<!-- END switch_user_logged_out -->

<section> {ERROR_MESSAGE} </section>
<section class="section-profile-form">
  <h1>Perfil</h1>
  <aside class="ucp-tabs"> {UCP_TABS} </aside>
  <form class="ucp-form">
    <article>
      <h2>Editar firma</h2>
      <textarea id="message" rows="15" cols="9" name="message" tabindex="3">{MESSAGE}</textarea>
      <script>
				CKEDITOR.replace( 'message', {
					extraPlugins: 'bbcode,sourcearea,autogrow',
					
					uiColor:'#000000',
					resize_enabled: false,
					autoGrow_minHeight:300,
					autoGrow_onStartup:true,
					/* Remove unused plugins. */
					removePlugins: 'bidi,dialogadvtab,div,filebrowser,flash,format,forms,horizontalrule,iframe,justify,liststyle,pagebreak,showborders,stylescombo,table,tabletools,templates,elementspath',
					/* Width and height are not supported in the BBCode format, so object resizing is disabled. */
					disableObjectResizing: true,
					/* Define font sizes in percent values. */
					fontSize_sizes: "7/7px;9/9px;12/12px;24/24px",
					toolbar: [
						[ 'Source', '-', 'Save', 'NewPage', '-', 'Undo', 'Redo' ],
						[ 'Find', 'Replace', '-', 'SelectAll', 'RemoveFormat' ],
						[ 'Link', 'Unlink', 'Image', 'SpecialChar' ],
						[ 'Bold', 'Italic', 'Underline' ],
						[ 'FontSize' ],
						[ 'TextColor' ],
						[ 'NumberedList', 'BulletedList', '-', 'Blockquote' ],
						[ 'Maximize' ]
					],
					/* Strip CKEditor smileys to those commonly used in BBCode. */
					smiley_images: [
						'regular_smile.gif', 'sad_smile.gif', 'wink_smile.gif', 'teeth_smile.gif', 'tounge_smile.gif',
						'embarrassed_smile.gif', 'omg_smile.gif', 'whatchutalkingabout_smile.gif', 'angel_smile.gif', 'shades_smile.gif',
						'cry_smile.gif', 'kiss.gif'
					],
					smiley_descriptions: [
						'smiley', 'sad', 'wink', 'laugh', 'cheeky', 'blush', 'surprise',
						'indecision', 'angel', 'cool', 'crying', 'kiss'
					]
				});

      </script> 
    </article>
    <section class="section-form-submit section-buttonset">
      <input type="hidden" name="page_profil" value="signature">
      <input type="hidden" name="mode" value="editprofile" />
      <ul>
        <li>
          <input type="submit" name="current" value="{L_CURRENT_SIGNATURE}">
        </li>
        <li>
          <input type="submit" name="preview" value="{L_PREVIEW}">
        </li>
        <li>
          <input type="submit" name="post" value="{L_SUBMIT}" class="big-button">
        </li>
      </ul>
    </section>
  </form>
</section>
