<section> {ERROR_MESSAGE} </section>
<section class="section-profile-form section-edit-rpg">
  <h1>Perfil</h1>
  <aside class="ucp-tabs"> {UCP_TABS} </aside>
  <form action="{U_ADMIN_RPG}" method="post" name="post" class="frm-form">
    <h2>Editar ficha de personaje</h2>
    <fieldset>
      <dl>
        <!-- BEGIN rpg_fields_left -->
        <dt>
          <label>{rpg_fields_left.F_NAME}</label>
        </dt>
        <dd>{rpg_fields_left.F_VALUE_NEW}</dd>
        <!-- END rpg_fields_left --> 
        <!-- BEGIN rpg_fields -->
        <dt>
          <label>{rpg_fields.F_NAME}</label>
        </dt>
        <dd>{rpg_fields.F_VALUE_NEW}</dd>
        <!-- END rpg_fields -->
      </dl>
    </fieldset>
    <section class="section-form-submit section-buttonset">
      <ul>
        <li>
          <input type="submit" name="submit" value="{L_VALID}">
        </li>
        <li>
          <input type="reset" name="reset" value="{L_RESET}">
        </li>
        <input type="hidden" name="username" value="{U_ID}">
        <input type="hidden" name="mode" value="valid">
      </ul>
    </section>
  </form>
</section>
